yolo11*
yolo12*
yolov8*
train_dataset.json
val_dataset.json
checkpoints
data
dataset
demo_frames
frames
frames2
maps_cords
mnist
parse_rambler
radar_dataset_mirage
runs
data.json
*.csv
cluster_embeddings.py
query_embeddings.py
*bbox*
detect/screenshots